{{- if .Values.networkPolicies.enabled }}
# Default deny all ingress and egress traffic
# All allowed traffic must be explicitly defined in other NetworkPolicies
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny-all
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
{{- end }}
