{{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: frontend-network-policy
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
spec:
  podSelector:
    matchLabels:
      app: tasking-manager-frontend
  policyTypes:
    - Ingress
  ingress:
    # Allow ingress on frontend port (from ingress controller)
    - ports:
        - protocol: TCP
          port: 3000
{{- end }}
